
/* This isn't working, for some reason? */
/*html {
  font-size: 90%;
}*/

body {
  font-family: 'Source Code Pro', 'Helvetica', monospace;
}

.container-style {
  padding: 0 20px 0 20px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-weight: bold;
}

a {
  color: #0000CC;
}

a:visited {
  color: #0000CC;
}

a:hover {
  color: #F00699;
}

a:active {
  color: yellow;
}

.page-header {
  margin-top: 100px;
  font-weight: bold;
}

/* ------------------------------- NAVIGATION ------------------------------ */

.navbar-default {
  background-color: white;
  border-bottom: dashed 1px #ddd;
}

.navbar-default .navbar-brand {
  color: #0000CC;
  font-weight: bolder;
}

.navbar-default .navbar-brand:hover {
  color: #F00699;
}

.navbar-default .navbar-nav > li > a:focus {
  color: yellow;
}

.navbar-default .navbar-nav>li>a {
  color: #0000CC;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #F00699;
  background-color: transparent
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #0000CC;
    background-color: transparent;
    font-weight: bold;
}

/* --------------------------------- INDEX --------------------------------- */

.index-sidebar {
  background: #eee;
}

.height-100p {
  height: 100%;
}

.top-buffer-10 {
  margin-top: 10px;
}

.home-bg-img-1 {
  background-image: url(images/hp-image.png);
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
}

/*.home-bg-img-1 {
  background-image: url(https://images.unsplash.com/photo-1475665616083-1d5dc90ff8ef?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=3eb7557c637c6ca5e1512d81e3c3b00d);
  height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/
.home-bg-img-2 {
  background-image: url(https://hd.unsplash.com/photo-1454991727061-be514eae86f7);
  height: 150px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-bg-img-3 {
  background-image: url(https://hd.unsplash.com/photo-1469547371150-47620ed0c5ea);
  height: 150px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-
  size: cover;
}
.home-bg-img-4 {
  background-image: url(https://hd.unsplash.com/photo-1472214103451-9374bd1c798e);
  height: 150px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-bg-img-5 {
  background-image: url(https://images.unsplash.com/photo-1475656106224-d72c2ab53e8d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=e0bf49d56326ad27c7e0cdf4d586303b);
  height: 150px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  b

/* ------------------------------- PORTFOLIO ------------------------------- */

.project-caption {
  text-align: left;
  max-width: 60rem;
}

.top-buffer-20 { 
  margin-bottom:20px; 
}

.spacer-col{
  height:20px;
  color:transparent;
}

.code-p1 figure {
  background-color: #1abc9c;
}

.code-p1 img {
  opacity: 1;
  /*-webkit-transition: .3s ease-in-out;*/
  transition: .3s ease-in-out;
}
.code-p1:hover img {
  opacity: .5;
}

/*.design-p1 {

}

.illust-p1 {

}*/



/* --------------------------------- ABOUT --------------------------------- */

.about-me {
  text-align: center;
  max-width: 100px;
  margin-top: 20px;
}

.no-border {
  border-bottom: none;
}

/* -------------------------------- CONTACT -------------------------------- */



/* ----------------------------- MEDIA QUERIES ----------------------------- */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .form-container {
    max-width: 720px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}