body {
font-family: 'Open Sans', 'Helvetica', sans-serif;
}

.container-style {
  padding: 0 20px 0 20px;
}

/* --------------------------------- INDEX --------------------------------- */

.index-sidebar {
  background: teal;
}

.index-sidebar h1 {
  color: white;
}

.index-sidebar p {
  color: white;
}

/* ------------------------------- PORTFOLIO ------------------------------- */

.project-caption {
  text-align: left;
  max-width: 60rem;
}

.top-buffer { 
  margin-top:20px; 
}

/* --------------------------------- ABOUT --------------------------------- */

.about-me {
  text-align: center;
  max-width: 24em;
  margin-top: 20px;
}

.about-img {
  margin-top: 50px;
  margin-bottom: 20px;
}

/* -------------------------------- CONTACT -------------------------------- */



/* ----------------------------- MEDIA QUERIES ----------------------------- */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .form-container {
    max-width: 720px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}